body
{
    background-color: yellowgreen;
}
h1
{
    text-align: center;
    font-size: 65px;
    color: red;
    text-shadow: 2px 2px black;

}

p 
{
    width: 50%;
    height: auto;
    margin: auto;
}